#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
p, h2 {
  text-align: center;
}
p {
  max-width: 570px;
  letter-spacing: 1px;
  line-height: 160%;
  padding-left: 25px;
  padding-right: 25px;
}
h2 {
  font-family: custom_prata, serif;
  font-size: 300%;
  color: #F48D80;
  margin-bottom: 45px;
}
address {
  margin-top: 45px;
}
address span.emailMobile {
  border-bottom: #F48D80 3px solid;
  padding-bottom:2px;
  letter-spacing: 1px;
}
address a {
  transition: 0.5s ease;
}
address a:hover {
  color: #F48D80;
  transition: 0.5s ease;
}
#fox {
  margin-left: 70px;
  padding-top: 50px;
  margin-bottom: 50px;
}
#fox img {
  animation-name: foxSpace;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position:relative;
  height: 270px;
}
@keyframes foxSpace {
   0% { transform: rotate(0deg) translateX(30px) rotate(0deg); }
  25% { transform: rotate(100deg) translateX(30px) rotate(-90deg); }
  50% { transform: rotate(180deg) translateX(30px) rotate(-180deg); }
  75% { transform: rotate(270deg) translateX(30px) rotate(-270deg); }
  100% { transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}
@media screen and (max-width: 660px) {
  #fox img {
    height:200px;
  }
  #contact {
    margin-top: 10px;
  }
  h2 {
    font-size: 200%;
    line-height: 50px;
  }
  p {
    font-size: 90%;
  }
  h2, p {
    padding-left: 35px;
    padding-right: 35px;
  }
}
