<div id="contact">
  <p>
    Hi and welcome to my portfolio website!
    <br/>I’m Tommy, a freelance graphic designer and illustrator Based in France. I graduated with a bachelor of design from the Wizo Academy of Design (Israel) in 2017. Since then I have had the pleasure of creating and working as a freelance designer for various business clients and private customers.
    <br/>Feel free to contact me for creating some magic together or just simply saying hi =)
  </p>

  <address>
    <img src="../../assets/envelop.png" alt="contact">
    <a href="mailto:tommynka@gmail.com">tommynka@gmail.com</a>
  </address>
  <p id="fox">
    <img src="../../assets/foxy.png" alt="fox-illustration">
  </p>
</div>
