<div id="contact">
  <h2>
    I’m supposed to describe myself.<br/>
    So here goes.
  </h2>
  <p>
    Hello! I’m Tommy, a freelance graphic designer, illustrator and a fellow Hufflepuff. I’m based in France. My work fuses a gentle and a clean look with a sprinkle of adorableness.
  <p>
    I graduated with a bachelor of design from the Wizo Academy of Design (Israel) in 2017.
    Since then I have had the pleasure to work as a designer for various business clients and private customers
    around the globe.
  </p>
  <p>
    For commissions, inquiries, or just to say hi, feel free to contact me.
  </p>
  <address>
    <a href="mailto:contact@tsoooki.com">
      <span class="emailMobile">contact@tsoooki.com</span>
    </a>
  </address>
  <div id="fox">
    <img src="../../assets/foxy.png" alt="fox-illustration">
  </div>
</div>
