<div id="contact">
  <h2>
    I transform amazing ideas<br/>
    into amazing visuals.
  </h2>
  <p>
    Hello, I’m Tommy! I work under the stage name of Tsoooki (So don’t tell anyone). I’m a freelance graphic designer and illustrator based in France.
  <p>
    I graduated with a bachelor of design from the Wizo Academy of Design (Israel) in 2017. Since then I’ve enjoyed working as a designer with various business clients and private customers around the globe.
  <p>
    For any commissions or inquiries, feel free to contact me!
  </p>
  <address>
    <a href="mailto:contact@tsoooki.com">
      <span class="emailMobile">contact@tsoooki.com</span>
    </a>
  </address>
  <div id="fox">
    <img src="../../assets/foxy.png" alt="fox-illustration">
  </div>
</div>
