img {
  width:100%;
  animation: fadein 3s;
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

div.image h2 {
  font-family: custom_prata, serif;
}
div.image p {
  margin-top:10px;
  font-family: custom_prata, serif;
}

div.image img {
  /*transition: 1s ease;*/
}
div.image div {
  /*overflow: hidden;*/
}
div.image:hover img {
  /*transform: scale(1.1);*/
}

#parallax-container {
  margin-top: -80px;
  margin-left:-15px;
  margin-right: -15px;
  height: 100vh;
  position: relative;
  margin-bottom:50px;
  overflow: hidden;
}
#parallax-container .regularSpeed {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffedea;
  overflow: hidden;
}
#parallax-container .arrow {
  position:absolute;
  bottom: 10vh;
  width:100%;
  text-align: center;
}
#parallax-container .arrow img {
  width: 30px;
}
#parallax-container .logo {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-75px;
  margin-top:-75px;
}
#parallax-container .logo img {
  width: 150px;
}

@media screen and (min-width: 660px) {
  #parallax-container {
    display: none;
  }
}


@media screen and (max-width: 660px) {
  div.image p {
    display: none;
  }
  div.image {
    margin-bottom:15px;
  }
  #mobileMenu {
    display: block;
  }
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
.image {
  padding-left: 21px;
  padding-right: 21px;
}
.imageContainer {
  position:relative;
}

.overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity: 0;
  transition: 300ms ease-out;
}
.image:hover .overlay {
  visibility: visible;
  opacity: 1;
}
.overlayBg {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.overlayText {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  padding-left: 30px;
  padding-top: 30px;
  z-index: 10;
}
.image {
  margin-bottom: 40px;
}
