<div id="gallery" class="container">
  <div id="parallax-container" >
    <div class="rellax regularSpeed" data-rellax-speed="0">
      <div class="arrow">
        <img src="assets/arrowDown.png">
      </div>
    </div>
    <div class="rellax logo" data-rellax-speed="-4">
      <img src="assets/logoTsooki.png"/>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let project of projects" class="image {{ project.mainImage.isBig ? 'col-md-8' : 'col-md-4' }}">
      <a routerLink="/Project/{{ project.id }}">
        <div><img src='assets/portfolio/{{ project.mainImage.link }}' alt="{{ project.mainImage.description }}"></div>
        <p>{{ project.name }}</p>
      </a>
    </div>
  </div>
</div>
