img {
  width:100%;
  animation: fadein 3s;
}
@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}


div.image p {
  margin-top:10px;
  font-family: custom_prata, serif;
}
div.image:hover p {
  color: #F48D80;
}


/* Mobile Menu*/
#mobilePresentation {
  margin-top: -80px;
  margin-left:-15px;
  margin-right: -15px;
  height: 100vh;
  background-color: #fff6f4;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
}
#mobilePresentation div.logo, #mobilePresentation div.arrowDown {
  width: 100%;
  text-align: center;
}
#mobilePresentation div.arrowDown {
  position: absolute;
  bottom: 60px;
}
#mobilePresentation div.logo img {
  max-width: 200px;
}
#mobilePresentation div.arrowDown img {
  max-width: 30px;
}

@media screen and (min-width: 660px) {
  #mobilePresentation {
    display: none;
  }
}


@media screen and (max-width: 660px) {
  div.image p {
    display: none;
  }
  div.image {
    margin-bottom:15px;
  }
  #mobileMenu {
    display: block;
  }
}
.parallax-window {
  min-height: 400px;
  background: transparent;
}
