<header [class.reducedHeader]="reduceHeader">
  <div id="logo">
    <a routerLink="/">
      <img id="logo-hover" src="../assets/logo-hover.png" alt="Tsooki">
      <img src="../assets/logo.png" alt="Tsooki">
    </a>
  </div>
  <nav>
    <div>
      <a id="illustration" routerLink="/Gallery/illustration" routerLinkActive="active">
        <img src="../assets/illustration.png" alt="Illustration">
      </a>
    </div>
    <div>
      <a id="branding" routerLink="/Gallery/branding" routerLinkActive="active">
        <img src="../assets/branding.png" alt="Branding">
      </a>
    </div>
    <div>
      <a id="contact" routerLink="/Contact" routerLinkActive="active">
        <img src="../assets/contact.png" alt="Contact">
      </a>
    </div>
  </nav>
  <div id="social">
    <div id="instagram">
      <a href="">
      </a>
    </div>
    <div id="behance">
      <a href="">
      </a>
    </div>
    <div id="share">
      <a href="">
      </a>
    </div>
  </div>
</header>
<div id="header-ghost"></div>
<main [@fadeAnimation]="getActivatedRoute(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
