#desktopHeader {
  height:130px;
  width: 100%;
  z-index: 100;
  background-color: #fff6f4;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  transition: 1s ease;
}
#header-ghost {
  height:130px;
  width: 100%;
  z-index: -50;
}
#logo {
  position:relative;
  height:100%;
  width:120px;
  padding-left: 10px;
}
#logo a img {
  height: 80%;
  position: absolute;
  left:10px;
  top:10%;
}
#logo a img#logo-hover {
  position: absolute;
  opacity: 0;
  transition: 1s ease;
}

#logo:hover a img#logo-hover {
  opacity: 100;
  transition: 1s ease;
}
.reducedHeader {
  height:80px;
  transition: 1s ease;
}
.reducedLogo {
  height:65px;
  transition: 1s ease;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav div a {
  padding-left:25px;
  padding-right:25px;
  padding-bottom: 26px;
  background: no-repeat -200px bottom;
  background-size: auto 28px;
}
nav div a:hover {
  background-position-x: center;
}
nav a.active {
  background-position: center bottom!important;
}

nav div a#illustration {
  background-image: url("../assets/illustration-hover.png");
}
nav div a#branding {
  background-image: url("../assets/branding-hover.png");
}
nav div a#contact {
  background-image: url("../assets/contact-hover.png");
}
nav a img {
  border: none;
  height:28px;
}

main {
  margin: auto;
  margin-top:35px;
}
#social {
  display: flex;
  height:30px;
  width:120px;
  align-items: center;
  padding-right: 30px;
}
#social a {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-size: 56px 28px;
  margin: 5px;
}
#social a:hover {
  background-position: -28px 0;
}
#instagram a {
  background-image: url('../assets/Instagram-Sprite.png');
}
#behance a {
  background-image: url('../assets/Behance-Sprite.png');
}
#share a {
  background-image: url('../assets/Share-Sprite.png');
}








/* Burger menu */
@media screen and (max-width: 660px){
  #mobileHeader {
    display: block;
  }
  #desktopHeader {
    display: none;
  }
  #header-ghost {
    height:45px;
  }
}
#mobileHeader
{
  display: block;
  user-select: none;
}

#mobileHeader input
{
  display: block;
  width: 30px;
  height: 27px;
  position: fixed;

  top: 20px;
  right: 20px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 10; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#mobileHeader span
{
  display: block;
  width: 30px;
  height: 27px;
  position: fixed;
  z-index: 5;
  background-size: 30px 27px;

  top: 20px;
  right: 20px;
  background-image: url('../assets/hamburger.png');
}


/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#mobileHeader input:checked ~ span
{
  background-image: url('../assets/Close-menu.png');
}
#mobileHeader input:checked ~ ul
{
  transform: none;
}
