<div id="loading">
  <div class="logo">
    <img src="assets/logoTsooki.png">
  </div>
</div>
<header>
  <div [class.reducedHeader]="reduceHeader" id="desktopHeader">
    <div id="logo">
      <a routerLink="/">
        <img id="logo-hover" src="../assets/logo-hover.png" alt="Tsooki">
        <img src="../assets/logo.png" alt="Tsooki">
      </a>
    </div>
    <nav>
      <div>
        <a id="branding" routerLink="/Gallery/branding" routerLinkActive="active">
          <img src="../assets/branding.png" alt="Branding">
        </a>
      </div>
      <div>
        <a id="illustration" routerLink="/Gallery/illustration" routerLinkActive="active">
          <img src="../assets/illustration.png" alt="Illustration">
        </a>
      </div>
      <div>
        <a id="contact" routerLink="/Contact" routerLinkActive="active">
          <img src="../assets/contact.png" alt="Contact">
        </a>
      </div>
    </nav>
    <div class="social">
      <div class="instagram">
        <a href="https://www.instagram.com/tsoooki/" target="_blank">
        </a>
      </div>
      <div class="behance">
        <a href="https://www.behance.net/tommynkae70a" target="_blank">
        </a>
      </div>
    </div>
  </div>
  <div id="mobileHeader">
    <input [ngModel]="menuActivated" (ngModelChange)="toggleScrolling($event)" type="checkbox" />
    <span></span>
    <div id="mobileMenu">
      <div class="logo-mobile text-center">
        <img src="assets/logo.png">
      </div>
      <ul>
        <li><a routerLink="/Gallery/branding" routerLinkActive="active">Branding</a></li>
        <li><a routerLink="/Gallery/illustration" routerLinkActive="active">Illustration</a></li>
        <li><a routerLink="/Contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <div class="social">
        <div class="instagram">
          <a href="https://www.instagram.com/tsoooki/" target="_blank">
          </a>
        </div>
        <div class="behance">
          <a href="https://www.behance.net/tommynkae70a" target="_blank">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="header-ghost"></div>
<main [@fadeAnimation]="getActivatedRoute(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
