#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin:auto;
  max-width: 1140px;
}
img {
  max-width:100%;
  object-fit: contain;
}
.image {
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}
.image img {
  /*max-height:600px;*/
}
.images-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.images-line .image {
  margin-left: 15px;
  margin-right: 15px;
}
.textProject {
  margin-top: 80px;
  margin-bottom: 30px;
}
.demoGame {
  position: fixed;
  right: 35px;
  transition: 1s ease;
}
.demoGame a {
  width: 80px;
  height: 61px;
  display: inline-block;
  background: url('/../../assets/play.png') no-repeat;
  background-size: 160px 61px;
}

.demoGame a:hover {
  background-position: -80px 0;
}

.backButton {
  position:absolute;
  top: 160px;
  left:30px;
}
.reducedBack {
  position: fixed;
  top: 30px;
}
.backButton a {
  display: inline-block;
  width:61.5px;
  height:20px;
  background: url('../../assets/Back-Sprite.png') no-repeat;
  background-size: auto 20px;
}
.backButton a:hover {
  background-position: -61.5px;
}
h2 {
  text-align: center;
  font-size: 18px;
  font-family: custom_lato, serif;
}
@media screen and (max-width: 660px){
  .backButton {
    display: none;
  }
  .demoGame {
    display: none;
  }
}

.image_row {
  width: 100%
}

/* .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; 
  padding-top: 25px;
  height: 0;
}
.videoWrapper  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video {
  width: 1000px;
} */
.video iframe {
  width: 100%;
} 