#project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width:100%;
  object-fit: contain;
}
.image {
  margin-top: 45px;
  margin-bottom: 45px;
  padding-left: 10px;
  padding-right: 10px;
}
.image img {
  max-height:600px;
}
.images-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.images-line .image {
  margin-left: 15px;
  margin-right: 15px;
}
.demoGame a {
  width: 374px;
  height: 96px;
  display: inline-block;
  background: url('/../../assets/Play-Demo-Sprite.png') no-repeat;
}
.demoGame a:hover {
  background-position: 0 -96px;
}
.reducedBack {
  margin-top: -50px;
  transition: 1s ease;
}
.backButton {
  position: fixed;
  left:35px;
  transition: 1s ease;
}
.backButton a {
  display: inline-block;
  width:87.1px;
  height:18px;
  background: url('../../assets/Back-Sprite.png') no-repeat;
  background-size: auto 18px;
}
.backButton a:hover {
  background-position: -87.1px;
}
h2 {
  text-align: center;
  font-size: 18px;
  font-family: custom_lato, serif;
}
@media screen and (max-width: 660px){
  .backButton {
    display: none;
  }
}
