body {
  color: #8e7574;
  font-family: custom_lato, serif;
}
a {
  color: #8e7574;
}
a:hover {
  color: #c6a2a2;
  text-decoration: none;
}

@font-face {
  font-family: custom_lato;
  src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: custom_lato;
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: custom_lato_light;
  src: url("assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: custom_prata;
  src: url("assets/fonts/Prata-Regular.ttf");
}
::selection {
  background: rgba(244, 141, 128, 0.4);
}
